

 

    <footer class="bg- text-center text-lg-start  card shadow ">
        <footer class="bg-white text-center text-white">
          <!-- Grid container -->
          <div class="container ">
            <!-- Section: Social media -->
            <section class="">
              <!-- Facebook -->
              <a
                class="btn text-white btn-floating "
                style="background-color: #f3f3f3;"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
        
              <!-- Twitter -->
              <a
                class="btn text-white btn-floating ms-2"
                style="background-color: #f3f3f3;"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
              ></a>
        
              <!-- Google -->
              <a
                class="btn text-white btn-floating ms-2"
                style="background-color: #f3f3f3;"
                href="#!"
                role="button"
                ><i class="fab fa-google"></i
              ></a>
        
              <!-- Instagram -->
              <a
                class="btn text-white btn-floating ms-2"
                style="background-color: #f3f3f3;"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
        
              <!-- Linkedin -->
              <a
                class="btn text-white btn-floating ms-2"
                style="background-color: #f3f3f3;"
                href="#!"
                role="button"
                ><i class="fab fa-linkedin-in"></i
              ></a>
             
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        
      
        </footer>
        <!-- Grid container -->
        <div class="container ">
    
    <!-- Grid container -->
          <!--Grid row-->
          <div class="row my-4">
            <!--Grid column-->
            <div class="col-lg-5 col-md-3  mb-md-0" id="text-center" >
    
              <div class="img-fluid rounded-pill bg-white shadow-1-strong d-flex align-items-center justify-content-center  mx-auto" style="width: 150px; height: 150px;">
                <img src="/assets/WeD!D.png" height="80px" alt=""
                     loading="lazy" />
              </div>
    
              <p class="text-center text-black" id="text-center" style="font-size:30px; font-weight: 600; font-family: 'Kanit', sans-serif;"> DETAIL INTERIOR & DESIGN </p>
    
             
    
            </div>
            <!--Grid column-->
              
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt ms-5 ps-5 text-black " id="col-lg-3">
              <h5 class="text-uppercase  mb-2">Quick Links</h5>
    
              <ul class="list-unstyled text-black">
                <li class="mb-1">
                  <a href="#!" class="text-black"><i class=""></i>HOME</a>
                </li>
                <li class="mb-1">
                  <a href="about" class="text-black"><i class=""></i>ABOUT US</a>
                </li>
                <li class="mb-1">
                  <a href="services" class="text-black"><i class=""></i>SERVICES</a>
                </li>
                <li class="mb-1">
                  <a href="contact" class="text-black"><i class=""></i>CONTACT US</a>
                </li>
                <li class="mb-1">
                  <a href="portfoloi" class="text-black"><i class=""></i>PORTFOLIO</a>
                </li>
                
              </ul>
            </div>
  
          
            <!--Grid column-->
    
            <!--Grid column-->
     
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-6  mb-md-0 text-black">
              <h5 class="text-uppercase mb-2">Contact</h5>
    
              <ul class="list-unstyled">
                <li>
                  <p><i class="fas fa-map-marker-alt pe-2"></i>Jayanagara 9th Block, Bengaluru, Karnataka 560069</p>
                </li>
                <li>
                  <p><i class="fas fa-phone pe-2"></i>+91 99003 97866</p>
                </li>
                <li>
                  <p><i class="fas fa-envelope pe-2 mb-0"></i>detailinteriors6@gmail.com</p>
                </li>
              </ul>
              <br>
              <footer class=" text-center text-lg-start">
                <!-- Grid container -->
                <div class="container pb-0">
                  <form action="">
                    <!--Grid row-->
                    <div class="col">
                      <!--Grid column-->
                      <div class="col-auto  mb-md-0">
                        <p class="">
                          <strong>Sign up for our newsletter</strong>
                        </p>
                      </div>
                      <!--Grid column-->
              
                      <!--Grid column-->
                      <div class="col-md-5 col-12  mb-md-0">
                        <!-- Email input -->
                        <div class="form-outline-white  width-100% ">
                          <input type="email" id="form5Example25" class="form-control" />
                          <label class="form-label" for="form5Example25">Email address</label>
                        </div>
                      </div>
                      <!--Grid column-->
              
                      <!--Grid column-->
                      <div class="col-auto  mb-md-0">
                        <!-- Submit button -->
                        <button type="submit" class="btn   text-dark" style="background-color: #EF803B;">
                          Subscribe
                        </button>
                      </div>
                      <!--Grid column-->
                    </div>
                    <!--Grid row-->
                  </form>
                </div>
                <!-- Grid container -->
                </footer>
  
  
              
              
            </div>
         
            
      
          </div>
          
          <!--Grid row-->
         
        </div> 
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center footer-copyright p-3" style="background-color: rgba(255, 254, 254, 0.2)">
         <span> © 2023 Detail Interior & Design </span> and   
          <a class="text" href="https://www.serpenstech.com/"> <span> Powered By Serpens Technology </span> </a>
        </div>
        <!-- Copyright -->
      </footer>
    
   
    <!-- End of .container --> 